.startTitle {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50dp;
    color: #0e120b;
    margin-bottom: 20px;


}

.container {
    margin-bottom: 20dp;
    margin-top: 2000dp;
}

.carousel {
    position: relative;
    z-index: 1;
}

.item1 {
    position: relative;
    z-index: 1;
}

.card {
    width: '18rem';
    float: right;
   
}

*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{   height: auto;
    min-height: auto;
    margin: 0;
    background: rgb(218,227,224);
    background: linear-gradient(90deg, rgba(218,227,224,1) 0%, rgba(40,62,40,1) 99%, rgba(46,57,41,1) 100%, rgba(50,57,49,1) 100%);
}