.startTitle {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50dp;
    color: #0e120b;
    margin-bottom: 20px;


}

.container {
    margin-bottom: 20dp;
    margin-top: 2000dp;
}

.carousel {
    position: relative;
    z-index: 1;
}

@media (max-width: 1025px){
    .carousel{
        height: 200px;
    }

    .c-image{

    }

    .product{
        
    }

}

.c-image{
    width: 900px;
    height: 600px;
}


{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{   height: auto;
    min-height: auto;
    margin: 0;
    background: rgb(218,227,224);
    background: linear-gradient(90deg, rgba(218,227,224,1) 0%, rgba(40,62,40,1) 99%, rgba(46,57,41,1) 100%, rgba(50,57,49,1) 100%);
}



/* #0e120b
#293621
#4b613c
#7d9c79
#95bdb0
#dae3e0 */





@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


 .product {
     position: relative;
     top: 30%;
     left: 17.3%;
     transform: translate(-50%, -50%);
     width: 400px;
     height: 400px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
     border-radius: 5px;
     background: #0e0e0f;
     overflow: hidden;
     float: left;
     margin-right: 5%;
     margin-bottom: 15%;
 }

 .product .imgbox {
     height: 100%;
     box-sizing: border-box
 }

 .product .imgbox img {
     display: block;
     width: 100%;
     margin: 10px auto 0
 }

 .specifies {
     position: absolute;
     width: 100%;
     bottom: -160px;
     background: #333333;
     padding: 10px;
     box-sizing: border-box;
     transition: .5s
 }

 .product-title{
    color: #D3D3D3;
 }

 .product-description{
     color: #A9A9A9;
 }

 .product:hover .specifies {
     bottom: 0
 }

 .specifies h2 {
     margin: 0;
     padding: 0;
     font-size: 20px;
     width: 100%
 }

 .specifies h2 span {
     font-size: 15px;
     color: #D3D3D3;
     font-weight: normal
 }

 .specifies .price {
     position: absolute;
     top: 12px;
     right: 25px;
     font-weight: bold;
     color: #D3D3D3;
     font-size: 10px
 }

 label {
     display: block;
     margin-top: 5px;
     font-weight: bold;
     font-size: 15px
 }

 ul {
     display: flex;
     margin: 0;
     padding: 0
 }

 ul li {
     list-style: none;
     margin: 5px 5px 0;
     font-size: 15px;
     font-style: normal;
     color: #D3D3D3
 }

 ul li:first-child {
     margin-left: 0
 }

 ul.colors li {
     width: 15px;
     height: 15px
 }

 ul.colors li:nth-child(1) {
     background: #4A148C
 }

 ul.colors li:nth-child(2) {
     background: #F50057
 }

 ul.colors li:nth-child(3) {
     background: #536DFE
 }

 ul.colors li:nth-child(4) {
     background: #388E3C
 }

 ul.colors li:nth-child(5) {
     background: #FF6D00
 }

 .btn {
     display: block;
     padding: 5px;
     color: #fff;
     margin: 10px 0 0;
     width: 100%;
     font-size: 13px;
     border-radius: 2px
 }