.startTitle {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50dp;
    color: #0e120b;
    margin-bottom: 20px;


}

.container {
    margin-bottom: 20dp;
    margin-top: 2000dp;
}

.carousel {
    position: relative;
    z-index: 1;
}

@media (max-width: 1025px){
    .carousel{
        height: 200px;
    }

    .c-image{

    }

    .product{
        
    }

}

.h1{
    font-weight: bold;
    font-size: 46px;
    font-style: bold;
}

.blackoverlay{
    position: absolute;
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 90%;
    width: 95%;
    background: rgba(0, 0, 0, 0.6);
}

.c-image{
    width: 900px;
    height: 500px;
}


{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{   height: auto;
    min-height: auto;
    margin: 0;
    background: rgb(218,227,224);
    background: linear-gradient(90deg, rgba(218,227,224,1) 0%, rgba(40,62,40,1) 99%, rgba(46,57,41,1) 100%, rgba(50,57,49,1) 100%);
}



/* #0e120b
#293621
#4b613c
#7d9c79
#95bdb0
#dae3e0 */





@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


 .product {
     position: relative;
     top: 30%;
     left: 17.3%;
     transform: translate(-50%, -50%);
     width: 400px;
     height: 400px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
     border-radius: 5px;
     background: #0e0e0f;
     overflow: hidden;
     float: left;
     margin-right: 5%;
     margin-bottom: 15%;
 }

 .product .imgbox {
     height: 100%;
     box-sizing: border-box
 }

 .product .imgbox img {
     display: block;
     width: 100%;
     margin: 10px auto 0
 }

 .specifies {
     position: absolute;
     width: 100%;
     height: 250px;
     bottom: -20%;
     background: #333333;
     padding: 10px;
     box-sizing: border-box;
     transition: .5s
 }

 .product-title{
    color: #D3D3D3;
 }

 .product-description{
     color: #A9A9A9;
 }

 .product:hover .specifies {
     bottom: 0
 }

 .specifies h2 {
     margin: 0;
     padding: 0;
     font-size: 20px;
     width: 100%
 }


 .specifies h2 span {
     font-size: 15px;
     color: #D3D3D3;
     font-weight: normal
 }

 .specifies .price {
     position: absolute;
     top: 12px;
     right: 25px;
     font-weight: bold;
     color: #D3D3D3;
     font-size: 10px
 }

 label {
     display: block;
     margin-top: 5px;
     font-weight: bold;
     font-size: 15px
 }

 ul {
     display: flex;
     margin: 0;
     padding: 0
 }

 ul li {
     list-style: none;
     margin: 5px 5px 0;
     font-size: 15px;
     font-style: normal;
     color: #D3D3D3
 }

 /* .book :hover {
    color: #F5F5F5;
 } */



 .btn {
     display: block;
     padding: 5px;
     color: #fff;
     margin: 10px 0 0;
     width: 100%;
     font-size: 13px;
     border-radius: 2px
 }


 /* 
 
 QUOTE
 
 
 center the blockquote in the page */
/* center the blockquote in the page */
.blockquote-wrapper {
   display: flex;
   height: 50vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-weight: bold;
    font-weight: 800;
    color: #ffffff;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 50px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    font-weight: 800;
    line-height: 0.9;
    margin: 0;
    
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 1);
    font-size: 10rem;
    font-weight: bold;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 60px;
   }

}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
}


/*Second block
Second block
Second block

*/

blockquote1 {
    padding-top : 10rem;
  width: 640px;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  z-index: 2;
}

div1 {
  background: #000;
  width: 750px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -390px;
  z-index: 2;
}

blockquote1 p {
  font: 2em 'Abril Fatface', cursive;
  padding: 20px;
  color: #FFF;
}

cite1 a {
  font: normal 1.2em 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-top: solid 5px #FFF;
  color: #FFF;
}


/**


 2.0

*/

